[Unit]
Description=Mount NFS drives from fstab
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mount_nfs.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mount_nfs
User=root

[Install]
WantedBy=multi-user.target
